.page-not-found-container {
    min-height: 25em;
}

.page-not-found-container h1 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}

.not-found-text {
    width: 100%;
    text-align: center;
    margin-bottom: 5em;
}

.not-found-text p {
    padding-bottom: 1em;
}

.not-found-text a {
    text-transform: uppercase;
    background-color: #FFF;
    border-radius: 2px;
    color: #888;
    border: 1px solid #000;
    font-family: 'Graphik Black','Arial Black',Sans-Serif;
    font-size: 14px;
    padding: 1em 2em;
}

.not-found-text a:hover {
    text-decoration: none;
    color: #000;
}