*.sln.ide
*resharper.user
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.gpstate
*.suo
*.sln.cache
_ReSharper.*/
.vs/
*.user
*.swp
*.dbmdl
*.log
TestResults/
*.orig
.classpath
.project
.settings/
[Bb]uild
*.mdf
*.ldf
packages/
*.config.transformed
*.metaproj
*.metaproj.tmp
*.nupkg
*.map
*.sublime-workspace
StyleCop.Cache
bower_components/
node_modules/
reports/
dist/
coverage/
/Packages.dgml
*.dgml
/Products/TEMPLATES/Rebar.Angular2SPA/Rebar.WebApp/__NAME__.Web/Properties/PublishProfiles/test.pubxml
*.pubxml
/Samples/MyTeLiteV2/MyTelLiteAngular/MyTelLiteAngular.Web/Scripts/temp
